- @title = "Editing '#{@article.title}'"

.twelve.columns
  %h1= raw "Update '#{link_to(@article.title, show_article_url(@article.id))}' article"

- if flash[:errors].present?
  .twelve.columns
    - flash[:errors].each do |error|
      .danger.alert= error

.twelve.columns
  = form_for @article, url: { action: :update, id: @article.id } do |f|
    - render partial: 'form', locals: { f: f }
