.twelve.columns
  %h1= 'Displaying all articles...'

- if logged_in?
  .twelve.columns
    .medium.info.btn.rounded
      = link_to 'Create new article', new_article_url

- if flash[:notice].present?
  .four.columns
    .success.label= flash[:notice]

%ul.twelve.columns
  - @articles.each do |article|
    %li
      %h2= link_to article.title, show_article_url(article.id)
      %p=  article.content
