.twelve.columns
  %h1= 'Displaying all articles...'

- if has_access_to? :articles
  .twelve.columns
    .medium.info.btn.rounded
      = link_to 'Create new article', new_article_url

= show_errors
= show_notice

%ul.twelve.columns
  - @articles.each do |article|
    %li
      %h2= link_to article.title, show_article_url(article.id)
      %p=  article.content
