- @title = 'Sign up'

.twelve.columns
  %h1 Sign Up

= show_errors
.twelve.columns#signup
  = form_for @user, url: { action: :create } do |f|
    .field= f.text_field :username, placeholder: 'Username', class: 'input'

    .field= f.text_field :first_name, placeholder: 'First name', class: 'input'
    .field= f.text_field :last_name, placeholder:  'Last name',  class: 'input'

    .field= f.password_field :password,              placeholder: 'Password',          class: 'input'
    .field= f.password_field :password_confirmation, placeholder: 'Re-enter password', class: 'input'

    .large.info.btn= submit_tag 'Sign up'
