- @title = 'Reservations'

.twelve.columns
  %h1 Reservations

= show_notice

%ul.twelve.columns
  - @reservations.each do |reservation|
    %li
      %table
        %tr(colspan="2")
          %td
            = link_to 'Delete', delete_reservation_path(reservation.id), method: :delete, class: :delete_link
            - if not reservation.allowed
              = ' : '
              = link_to 'Allow', { action: :allow, id: reservation.id }, method: :post, class: :confirm_link
        %tr
          %td
            %strong Reservation date:
          %td= reservation.reservation_date
        %tr
          %td
            %strong Telephone number:
          %td= reservation.telephone_number
        %tr
          %td
            %strong Number of people:
          %td= reservation.number_of_people
