- @title = @dish.name

.twelve.columns
  %h1
    = 'Displaying a particular'
    = link_to 'dish...', action: :index

- if logged_in?
  .twelve.columns
    .medium.info.btn
      = link_to 'Edit', action: :edit, id: @dish.id
    .medium.info.btn
      = link_to 'Delete', delete_dish_path(@dish.id), method: :delete

.twelve.columns
  %ul.two_up.tiles
    %li
      %h2= @dish.name
      %p= @dish.description
      %h3.price= "#{@dish.price} $"
    %li
      .image.photo= image_tag @dish.image_url(:thumb).to_s
