- @title = 'Menu'

.twelve.columns
  %h1= 'Menu'

- if has_access_to? :categories
  .twelve.columns
    .medium.info.btn.rounded
      = link_to 'Create new category', action: :new

    .medium.info.btn.rounded
      = link_to 'Display all dishes', controller: :dishes, action: :index

= show_notice

%ul.twelve.columns
  - @categories.each do |category|
    %li
      %h2= link_to category.name, action: :show_dishes , id: category.id
